.list {
  $item_h: 1.5em;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &--form {
    width: 100%;
    display: flex;

    .list--search {
      flex-grow: 1;
    }
  }

  &--ul {
    width: 100%;
    margin: 10px 0;
    overflow-y: scroll;
    flex: 1 1 0;
  }

  &--li {
    height: $item_h;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: rgba(88, 88, 255, 0.425);
    }

    &:active {
      background-color: rgb(46, 46, 247);
    }

    .list--counter {
      color: red;
      font-weight: bold;
    }

    .list--flag {
      width: $item_h * 2;
      height: $item_h;
      display: flex;
    }

    .list--ico {
      width: 2em;

      &-hidden {
        opacity: 0;
      }
    }
  }

  &--kd_container {
    width: 100%;
    max-width: 430px;
    margin: 0 auto;
    height: auto;
    padding: 10px 0;
  }

  &--kd_container-hidden {
    display: none;
  }
}

.fullscreen {
  .list {
    min-height: calc(100vh - 150px);
  }
}
