$bg_color: white;
$heder_height: 55px;
$footer_height: 30px;
$padding: 10px;
$slider_table_h: 25px;

$component_border: 1px solid black;

$dark_color: #800026;
$pre_dark_color: #bd0026;
$orange_color: #fd8d3c;
$yellow_color: #ffeda0;
