.header {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  &__wrapper {
    display: flex;
    align-items: center;
    column-gap: 35px;
    width: 450px;
    margin-left: 45px;
    &_logo {
      width: 30px;
    }
    &_info {
      font-size: 32px;
      font-weight: 700;
    }
  }
}
