.footer {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  &__wrapper {
    font-size: small;
    display: flex;
    column-gap: 10px;
    align-items: center;
    width: 500px;
    font-weight: 600;
    &_links-wrapper {
      width: 235px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        color: rgb(16, 97, 16);
        text-decoration: none;
        font-weight: 700;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &_logo {
      position: absolute;
      right: 25px;
      height: 25px;
      width: 67px;
      background: url('../assets/images/rs_school_logo.svg');
      background-size: cover;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }
      @media screen and (max-width: 695px) {
        bottom: -35px;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
