#wrapper {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.keyboard--button,
.letter,
.hide_btn {
  width: 50px;
  height: 100%;
  padding: 0;
  color: black;
  font-size: 15px;
  background-color: rgb(223, 223, 223);
  border: #bbbbbb solid 1px;
  border-radius: 10px;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
}

.keyboard--button:hover,
.hide_btn:hover {
  box-shadow: 0px 5px 7px -5px rgba(0, 0, 0, 0.75);
}

.keyboard--button:active,
.button_active,
.hide_btn:active {
  box-shadow: inset 0px 0px 13px 0px rgba(0, 0, 0, 0.75) !important;
  transition: 0.2s;
}

.functional {
  background-color: sienna;
}

.key-row {
  width: 100%;
  height: 18.5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.keyboard {
  margin: 0 auto;
  width: 100%;
  height: 250px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.keyboard-hidden {
  display: none;
}

.backspace {
  width: 170px;
}

.tab {
  width: 135px;
}

.enter {
  width: 156px;
}

.space {
  width: 400px;
  flex-basis: 20%;
}

.shiftleft,
.shiftright {
  width: 170px;
}

.controlleft,
.controlright {
  width: 164px;
}

.altleft,
.altright {
  width: 113px;
}

.capslock {
  width: 153px;
  position: relative;
}

.capslock--indicator,
.sound--indicator,
.speech--indicator {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
}

.capslock--indicator-on,
.sound--indicator-on,
.speech--indicator-on {
  background-color: green;
}

.hide_btn {
  width: 300px;
  height: 50px;
  font-size: 15px;
  display: block;
  margin: 10px auto 20px;
}

.sound,
.speech {
  position: relative;
}

.sound label,
.capslock--indicator,
.sound--indicator,
.speech--indicator {
  pointer-events: none;
}

@media (min-width: 900px) {
  .keyboard--button,
  .letter {
    font-size: 15px;
  }
}
