@import '../../styles/constants.scss';

.component_wrapper {
  $padding: 20px;

  padding: $padding;
  position: relative;

  .fullscreen_btn {
    display: none;
    width: $padding * 2;
    height: $padding * 2;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    background-size: 68%;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 999;
    opacity: 0.7;
    cursor: pointer;
    outline: none;
    transition: opacity 0.3s, box-shadow 0.1s;

    &:hover {
      opacity: 1;
    }

    &:active {
      box-shadow: inset 0 0 #{$padding / 4} #{$padding / 4} rgba(0, 0, 0, 0.5);
    }
  }

  .fullscreen_btn-enter {
    @extend .fullscreen_btn;

    background-image: url('../../assets/ico/full-screen-button.svg');
  }

  .fullscreen_btn-exit {
    @extend .fullscreen_btn;

    background-image: url('../../assets/ico/exit-full-screen.svg');
  }

  &:hover {
    .fullscreen_btn-enter {
      display: block;
    }

    .fullscreen_btn-exit {
      display: block;
    }
  }
}

.fullscreen {
  width: auto;
  height: auto;
  position: relative;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $bg_color;
  z-index: 9999;
}
