.table--wrapper {
  width: auto;

  table {
    width: 100%;
    margin-bottom: 10px;

    th,
    tr,
    td {
      border: 1px solid black;
    }

    caption {
      .country-name {
        display: inline-block;
      }
      .country-flag {
        display: none;
        width: 35px;
        height: 20px;
      }
      .active-flag {
        display: inline-block;
      }
    }
  }
}
