#map {
  height: 100%;
  min-height: 600px;
}
.info {
  display: none;
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  img {
    width: 35px;
    height: 20px;
  }
  h4 {
    margin: 0 0 5px;
    color: #777;
  }
}

.info-active {
  animation-duration: 0.4s;
  display: block;
}
.legend {
  line-height: 18px;
  color: #555;

  i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
  .data-type {
    font-weight: 700;
    p {
      text-shadow: 1px 0px 3px white;
    }
  }
}
