.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  width: 100%;
  overflow: hidden;
  &__info-block {
    margin: 0 2px;
  }
  .slider-btn {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: transform 0.1s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
  &-left {
    background-image: url("../assets/images/left-arrow.png");
    background-size: cover;
  }
  &-right {
    background-image: url("../assets/images/right-arrow.png");
    background-size: cover;
  }
}
